<section id="contact" class="section">
    <div class="background4">
        <div class="circles4">
            {% for _ in range(1, 10) %}
                <span></span>
            {% endfor %}
        </div>
    </div>
    <div class="contact-bloc">
        <h2>Contactez-moi pour vos Projets</h2>
        <div class="contact-form">
            {{ do_shortcode('[contact-form-7 id="d9be59c" title="Form-contact"]') }}
        </div>
    </div>
</section>
