<footer>
    <p>Site créé par Guillaume Dufour en 2024.</p>
    <a href="https://developers.google.com/speed/pagespeed/insights/?url=https://guillaume-dufour.fr/" target="_blank">Vérifiez son score sur PageSpeed.</a>
</footer>
{{ function('wp_footer') }}
