<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="{{ site.charset }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
        {{ function('wp_head') }}
</head>
<body>

<header>
    <nav id="vertical-menu">
        <a href="#presentation">Présentation</a>
        <a href="#competences">Compétences</a>
        <a href="#realisations">Réalisations</a>
        <a href="#contact">Contactez moi</a>
    </nav>
    <div class="vertical-stripe stripe1"></div>
    <div class="vertical-stripe stripe2"></div>
    <div class="vertical-stripe stripe3"></div>
</header>
