/*footer**********************************************************************************************************************************/

footer {
    border-top: 1px solid #98ff98;
    position: absolute;
    z-index: 1000;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    animation: slideBottomToTop 1s ease;
    a {
        font-family: 'Zendots';
        font-size: 1rem;
        color: white;
        text-decoration: none;
        text-align: center;
        align-self: center;
    }   
}

/*responsive*****************************************************************************************************/

@media (orientation: portrait) {
    footer {       
        a {
            font-size: 1vh;            
        }        
    }
}

@media (orientation: landscape) and (max-height: 950px) {
    footer {        
        a {
            font-size: 1vw;           
        }        
    }
}