@charset "UTF-8";
/*Local fonts************************************************************************/
@font-face {
  font-family: "ZenDots";
  src: url("../fonts/ZenDots-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Philosopher";
  src: url("../fonts/Philosopher-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/*animation****************************************************************************************************************************************/
@keyframes bg1 {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 90%;
  }
  100% {
    transform: translateY(-100vh) rotate(720deg);
    opacity: 0;
    border-radius: 0;
  }
}
@keyframes bg3 {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }
  100% {
    transform: translateY(100vh) rotate(-720deg);
    opacity: 0;
    border-radius: 90%;
  }
}
@keyframes glow {
  from {
    text-shadow: 0 0 20px #bdbdbd;
  }
  to {
    text-shadow: 0 0 30px #dedede, 0 0 10px #fcfcfc;
  }
}
@keyframes loop {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
/*mixin****************************************************************************************************************************************/
/*site*******************************************************************************************************************************************/
body, html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  /*header*********************************************************/
  /*section 1***************************************************/
  /*section 2***************************************************/
  /*section 3***************************************************/
  /*footer***************************************************************/
}
body header #vertical-menu, html header #vertical-menu {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  z-index: 10;
}
body header #vertical-menu a, html header #vertical-menu a {
  font-family: "ZenDots";
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  padding: 10px;
  margin: 0.5vh 0;
  border: 2px solid white;
  background-color: transparent;
  transition: transform 0.3s;
}
body header #vertical-menu a:hover, html header #vertical-menu a:hover {
  transform: rotate(180deg) scale(1.1);
}
body header #vertical-menu a.active, html header #vertical-menu a.active {
  transform: rotate(180deg) translateX(-20px);
}
body .section, html .section {
  position: relative;
  height: 100vh;
  overflow: hidden;
}
body #presentation, html #presentation {
  display: flex;
  justify-content: center;
  align-items: center;
  /*bloc text img***************************************************/
}
body #presentation .background1, html #presentation .background1 {
  position: absolute;
  background: linear-gradient(to bottom, #8f94fb, #4e54c8);
  width: 100%;
  height: 100%;
  z-index: -1;
}
body #presentation .background1 .circles, html #presentation .background1 .circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}
body #presentation .background1 .circles li, html #presentation .background1 .circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: bg1 30s linear infinite;
  bottom: -200px;
}
body #presentation .background1 .circles li:nth-child(1), html #presentation .background1 .circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}
body #presentation .background1 .circles li:nth-child(2), html #presentation .background1 .circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}
body #presentation .background1 .circles li:nth-child(3), html #presentation .background1 .circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}
body #presentation .background1 .circles li:nth-child(4), html #presentation .background1 .circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}
body #presentation .background1 .circles li:nth-child(5), html #presentation .background1 .circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}
body #presentation .background1 .circles li:nth-child(6), html #presentation .background1 .circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}
body #presentation .background1 .circles li:nth-child(7), html #presentation .background1 .circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}
body #presentation .background1 .circles li:nth-child(8), html #presentation .background1 .circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}
body #presentation .background1 .circles li:nth-child(9), html #presentation .background1 .circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}
body #presentation .background1 .circles li:nth-child(10), html #presentation .background1 .circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}
body #presentation .container, html #presentation .container {
  z-index: 1;
  display: flex;
  flex-direction: row;
  width: 80%;
  max-width: 80%;
  background: transparent;
}
body #presentation .container .text-block, body #presentation .container .image-block, html #presentation .container .text-block, html #presentation .container .image-block {
  flex: 1;
  min-width: 300px;
  padding: 10px;
}
body #presentation .container .text-block, html #presentation .container .text-block {
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}
body #presentation .container .text-block .hello-world, html #presentation .container .text-block .hello-world {
  font-family: "ZenDots";
  font-size: 4em;
  margin: 0;
  font-weight: bold;
  animation: glow 4s ease-in-out infinite alternate;
}
body #presentation .container .text-block p, html #presentation .container .text-block p {
  font-family: "Philosopher";
  font-size: 1.5em;
  line-height: 1.5;
}
body #presentation .container .text-block .highlight, html #presentation .container .text-block .highlight {
  font-family: "ZenDots";
  color: #6c92ff;
}
body #presentation .container .text-block .contact-button, html #presentation .container .text-block .contact-button {
  font-family: "Philosopher";
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1em;
  color: white;
  backface-visibility: visible;
  background-color: rgba(108, 146, 255, 0.5);
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}
body #presentation .container .image-block, html #presentation .container .image-block {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 70vh;
  width: 100%;
}
body #presentation .container .image-block img, html #presentation .container .image-block img {
  max-height: 70vh;
  max-width: 100%;
  height: auto;
  width: auto;
  -o-object-fit: contain;
     object-fit: contain;
}
body #competences, html #competences {
  background: #4e54c8;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 2vw;
  /*bloc text-skills***************************************************/
  /*bloc skills***************************************************/
}
body #competences .text-area, html #competences .text-area {
  width: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  text-align: center;
}
body #competences .text-area .logo-container, html #competences .text-area .logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}
body #competences .text-area .logo-container img, html #competences .text-area .logo-container img {
  max-width: 300px;
  height: auto;
}
body #competences .text-area .text-content, html #competences .text-area .text-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body #competences .text-area .text-content .competence-title, html #competences .text-area .text-content .competence-title {
  font-size: 2em;
  line-height: 1.5;
  margin: 0;
  font-family: "Zendots";
  color: white;
}
body #competences .text-area .text-content .competence-description, html #competences .text-area .text-content .competence-description {
  font-size: 1.5em;
  line-height: 1.5;
  margin: 1rem 0 0;
  font-family: "Philosopher";
  color: white;
}
body #competences .text-area .text-content .base-text, html #competences .text-area .text-content .base-text {
  font-size: 1.5em;
  line-height: 1.5;
  margin: 0;
  font-family: "Philosopher";
  color: white;
}
body #competences .skill-list, html #competences .skill-list {
  z-index: 1;
  width: 50vw;
  flex-shrink: 0;
  flex-direction: column;
  gap: 0.5rem 0.5rem;
  position: relative;
  padding: 1.5rem 0;
  overflow: hidden;
  /* Specific animation settings for each slider */
}
body #competences .skill-list .loop-slider .inner, html #competences .skill-list .loop-slider .inner {
  display: flex;
  width: -moz-max-content;
  width: max-content;
  animation: loop linear infinite;
  z-index: 1;
}
body #competences .skill-list .loop-slider .inner .skill, html #competences .skill-list .loop-slider .inner .skill {
  z-index: 2;
  display: flex;
  align-items: center;
  gap: 0.4rem 0.2rem;
  border-radius: 0.4rem;
  padding: 0.7rem 1rem;
  margin-right: 0.5rem;
}
body #competences .skill-list .loop-slider .inner .skill img, html #competences .skill-list .loop-slider .inner .skill img {
  z-index: 3;
  width: 180px;
  height: 180px;
  border-radius: 0.4rem;
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 0.3s, filter 0.3s;
  cursor: pointer;
}
body #competences .skill-list .loop-slider .inner .skill img:hover, html #competences .skill-list .loop-slider .inner .skill img:hover {
  transform: rotate(5deg);
  filter: brightness(1.5);
}
body #competences .skill-list .slider-1 .inner, html #competences .skill-list .slider-1 .inner {
  animation-duration: 30s;
  animation-direction: normal;
}
body #competences .skill-list .slider-2 .inner, html #competences .skill-list .slider-2 .inner {
  animation-duration: 45s;
  animation-direction: reverse;
}
body #competences .skill-list .slider-3 .inner, html #competences .skill-list .slider-3 .inner {
  animation-duration: 35s;
  animation-direction: normal;
}
body #competences .skill-list .slider-4 .inner, html #competences .skill-list .slider-4 .inner {
  animation-duration: 40s;
  animation-direction: reverse;
}
body #competences .fade, html #competences .fade {
  pointer-events: none;
  background: linear-gradient(90deg, #4e54c8, transparent 30%, transparent 70%, #4e54c8);
  position: absolute;
  inset: 0;
}
body #realisations, html #realisations {
  position: relative;
  z-index: -1;
}
body #realisations .background3, html #realisations .background3 {
  background: linear-gradient(to top, #8f94fb, #4e54c8);
  width: 100%;
  height: 100%;
}
body #realisations .background3 .circles3, html #realisations .background3 .circles3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}
body #realisations .background3 .circles3 li, html #realisations .background3 .circles3 li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: bg3 30s linear infinite;
  top: -200px;
}
body #realisations .background3 .circles3 li:nth-child(1), html #realisations .background3 .circles3 li:nth-child(1) {
  left: 10%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}
body #realisations .background3 .circles3 li:nth-child(2), html #realisations .background3 .circles3 li:nth-child(2) {
  left: 25%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}
body #realisations .background3 .circles3 li:nth-child(3), html #realisations .background3 .circles3 li:nth-child(3) {
  left: 40%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}
body #realisations .background3 .circles3 li:nth-child(4), html #realisations .background3 .circles3 li:nth-child(4) {
  left: 70%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}
body #realisations .background3 .circles3 li:nth-child(5), html #realisations .background3 .circles3 li:nth-child(5) {
  left: 55%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}
body #realisations .background3 .circles3 li:nth-child(6), html #realisations .background3 .circles3 li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}
body #realisations .background3 .circles3 li:nth-child(7), html #realisations .background3 .circles3 li:nth-child(7) {
  left: 30%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}
body #realisations .background3 .circles3 li:nth-child(8), html #realisations .background3 .circles3 li:nth-child(8) {
  left: 45%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}
body #realisations .background3 .circles3 li:nth-child(9), html #realisations .background3 .circles3 li:nth-child(9) {
  left: 15%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}
body #realisations .background3 .circles3 li:nth-child(10), html #realisations .background3 .circles3 li:nth-child(10) {
  left: 90%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}
body footer .contact-icons, html footer .contact-icons {
  position: fixed;
  bottom: 0;
  right: 1vw;
  display: flex;
  gap: 2vw;
  padding: 10px;
}
body footer .contact-icons a .icon, html footer .contact-icons a .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 1s;
}
body footer .contact-icons a:hover, html footer .contact-icons a:hover {
  transform: scale(1.5);
}
body footer .contact-modal, html footer .contact-modal {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
body footer .contact-modal .modal-veil, html footer .contact-modal .modal-veil {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  animation: fadeIn 1s ease-in-out forwards;
}
body footer .contact-modal .modal-veil.fadeOut, html footer .contact-modal .modal-veil.fadeOut {
  animation: fadeOut 1s ease-in-out forwards;
}
body footer .contact-modal .modal-content, html footer .contact-modal .modal-content {
  z-index: 3000;
  border: 3px solid white;
  width: 80%;
  max-width: 600px;
  min-width: 270px;
  height: auto;
  overflow: hidden;
  background: conic-gradient(from 0deg, #8f94fb, #4e54c8); /* Dégradé conique */
}
body footer .contact-modal .modal-content .contact-form-modal, html footer .contact-modal .modal-content .contact-form-modal {
  display: flex;
  justify-content: center;
  padding: 4%;
}
body footer .contact-modal .modal-content .contact-form-modal .wpcf7.js, html footer .contact-modal .modal-content .contact-form-modal .wpcf7.js {
  font-family: "Zendots";
  font-size: 1em;
  line-height: 15px;
  text-align: center;
  color: white;
}
body footer .contact-modal .modal-content .contact-form-modal .wpcf7-form input[type=text],
body footer .contact-modal .modal-content .contact-form-modal .wpcf7-form input[type=email],
body footer .contact-modal .modal-content .contact-form-modal .wpcf7-form textarea, html footer .contact-modal .modal-content .contact-form-modal .wpcf7-form input[type=text],
html footer .contact-modal .modal-content .contact-form-modal .wpcf7-form input[type=email],
html footer .contact-modal .modal-content .contact-form-modal .wpcf7-form textarea {
  box-sizing: border-box;
  border-radius: 6px;
  border: 1px solid grey;
  resize: none;
  margin: 10px 0 20px 0;
  position: relative;
  z-index: 2;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
}
body footer .contact-modal .modal-content .contact-form-modal .wpcf7-form input[type=text],
body footer .contact-modal .modal-content .contact-form-modal .wpcf7-form input[type=email], html footer .contact-modal .modal-content .contact-form-modal .wpcf7-form input[type=text],
html footer .contact-modal .modal-content .contact-form-modal .wpcf7-form input[type=email] {
  height: 40px;
  width: 250px;
}
body footer .contact-modal .modal-content .contact-form-modal .wpcf7-form textarea, html footer .contact-modal .modal-content .contact-form-modal .wpcf7-form textarea {
  height: 260px;
  width: 250px;
}
body footer .contact-modal .modal-content .contact-form-modal .wpcf7-form input[type=submit], html footer .contact-modal .modal-content .contact-form-modal .wpcf7-form input[type=submit] {
  background-color: #6c92ff;
  font-family: "Philosopher";
  font-size: 0.8em;
  line-height: 17px;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  height: 50px;
  width: 100%;
  z-index: 3;
  position: relative;
  transition: background-color 1s ease;
  text-align: center;
}
body footer .contact-modal .modal-content .contact-form-modal .wpcf7-form input[type=submit]:hover, html footer .contact-modal .modal-content .contact-form-modal .wpcf7-form input[type=submit]:hover {
  background-color: #8f94fb;
  color: white;
}
body footer .contact-modal .modal-content.fadeIn, html footer .contact-modal .modal-content.fadeIn {
  animation: fadeIn 1s ease-in-out forwards;
}
body footer .contact-modal .modal-content.slideIn, html footer .contact-modal .modal-content.slideIn {
  animation: slideInRight 1s ease forwards;
}
body footer .contact-modal .modal-content.fadeOut, html footer .contact-modal .modal-content.fadeOut {
  animation: fadeOut 1s ease-in-out forwards;
}
body footer .contact-modal .modal-content.slideOut, html footer .contact-modal .modal-content.slideOut {
  animation: slideInLeft 1s ease forwards;
}/*# sourceMappingURL=custom-style.css.map */