/*Local fonts************************************************************************/
@font-face {
  font-family: "ZenDots";
  src: url("../fonts/ZenDots-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/*animation****************************************************************************************************************************************/
@keyframes bg1 {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 90%;
  }
  100% {
    transform: translateY(-100vh) rotate(720deg);
    opacity: 0;
    border-radius: 0;
  }
}
@keyframes bg3 {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }
  100% {
    transform: translateY(100vh) rotate(-720deg);
    opacity: 0;
    border-radius: 90%;
  }
}
/*site*******************************************************************************************************************************************/
body, html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  /*section 1***************************************************/
  /*section 2***************************************************/
  /*section 3***************************************************/
}
body header, html header {
  /*menu vertical*****************************************/
}
body header #vertical-menu, html header #vertical-menu {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  z-index: 1;
}
body header #vertical-menu a, html header #vertical-menu a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  padding: 20px;
  margin: 0.5vh 0;
  border: 2px solid white;
  background-color: transparent;
  transition: transform 0.3s;
}
body header #vertical-menu a:hover, html header #vertical-menu a:hover {
  transform: rotate(180deg) scale(1.1);
}
body header #vertical-menu a.active, html header #vertical-menu a.active {
  transform: rotate(180deg) translateX(-20px);
}
body .section, html .section {
  position: relative;
  height: 100vh;
  overflow: hidden;
}
body #presentation, html #presentation {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
body #presentation .background1, html #presentation .background1 {
  position: absolute;
  background: #4e54c8;
  background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
  width: 100%;
  height: 100%;
  z-index: -1;
}
body #presentation .background1 .circles, html #presentation .background1 .circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}
body #presentation .background1 .circles li, html #presentation .background1 .circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: bg1 30s linear infinite;
  bottom: -200px;
}
body #presentation .background1 .circles li:nth-child(1), html #presentation .background1 .circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}
body #presentation .background1 .circles li:nth-child(2), html #presentation .background1 .circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}
body #presentation .background1 .circles li:nth-child(3), html #presentation .background1 .circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}
body #presentation .background1 .circles li:nth-child(4), html #presentation .background1 .circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}
body #presentation .background1 .circles li:nth-child(5), html #presentation .background1 .circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}
body #presentation .background1 .circles li:nth-child(6), html #presentation .background1 .circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}
body #presentation .background1 .circles li:nth-child(7), html #presentation .background1 .circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}
body #presentation .background1 .circles li:nth-child(8), html #presentation .background1 .circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}
body #presentation .background1 .circles li:nth-child(9), html #presentation .background1 .circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}
body #presentation .background1 .circles li:nth-child(10), html #presentation .background1 .circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}
body #presentation .container, html #presentation .container {
  z-index: 1;
  display: flex;
  flex-direction: row;
  width: 80%;
  max-width: 80%;
  background: transparent;
}
body #presentation .container .text-block, body #presentation .container .image-block, html #presentation .container .text-block, html #presentation .container .image-block {
  flex: 1;
  min-width: 300px;
  padding: 10px;
}
body #presentation .container .text-block, html #presentation .container .text-block {
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}
body #presentation .container .text-block .hello-world, html #presentation .container .text-block .hello-world {
  font-family: "ZenDots";
  font-size: 4vw;
  margin: 0;
  font-weight: bold;
}
body #presentation .container .text-block p, html #presentation .container .text-block p {
  font-size: 1.5em;
}
body #presentation .container .text-block .highlight, html #presentation .container .text-block .highlight {
  font-family: "ZenDots";
  font-weight: bold;
  color: #6c92ff;
}
body #presentation .container .text-block .contact-button, html #presentation .container .text-block .contact-button {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1em;
  color: #fff;
  background-color: #6c92ff;
  border: none;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}
body #presentation .container .image-block, html #presentation .container .image-block {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 70vh;
  width: 100%;
}
body #presentation .container .image-block img, html #presentation .container .image-block img {
  max-height: 70vh;
  max-width: 100%;
  height: auto;
  width: auto;
  -o-object-fit: contain;
     object-fit: contain;
}
body #competences, html #competences {
  background: #66ff66;
  z-index: -1;
}
body #realisations, html #realisations {
  position: relative;
  z-index: -1;
}
body #realisations .background3, html #realisations .background3 {
  background: #4e54c8;
  background: -webkit-linear-gradient(to top, #8f94fb, #4e54c8);
  width: 100%;
  height: 100%;
}
body #realisations .background3 .circles3, html #realisations .background3 .circles3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}
body #realisations .background3 .circles3 li, html #realisations .background3 .circles3 li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: bg3 30s linear infinite;
  top: -200px;
}
body #realisations .background3 .circles3 li:nth-child(1), html #realisations .background3 .circles3 li:nth-child(1) {
  left: 10%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}
body #realisations .background3 .circles3 li:nth-child(2), html #realisations .background3 .circles3 li:nth-child(2) {
  left: 25%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}
body #realisations .background3 .circles3 li:nth-child(3), html #realisations .background3 .circles3 li:nth-child(3) {
  left: 40%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}
body #realisations .background3 .circles3 li:nth-child(4), html #realisations .background3 .circles3 li:nth-child(4) {
  left: 70%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}
body #realisations .background3 .circles3 li:nth-child(5), html #realisations .background3 .circles3 li:nth-child(5) {
  left: 55%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}
body #realisations .background3 .circles3 li:nth-child(6), html #realisations .background3 .circles3 li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}
body #realisations .background3 .circles3 li:nth-child(7), html #realisations .background3 .circles3 li:nth-child(7) {
  left: 30%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}
body #realisations .background3 .circles3 li:nth-child(8), html #realisations .background3 .circles3 li:nth-child(8) {
  left: 45%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}
body #realisations .background3 .circles3 li:nth-child(9), html #realisations .background3 .circles3 li:nth-child(9) {
  left: 15%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}
body #realisations .background3 .circles3 li:nth-child(10), html #realisations .background3 .circles3 li:nth-child(10) {
  left: 90%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}/*# sourceMappingURL=custom-style.css.map */