/*Local fonts************************************************************************/

@font-face {
    font-family: 'ZenDots';
    src: url('../fonts/ZenDots-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Philosopher';
    src: url('../fonts/Philosopher-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/*animation****************************************************************************************************************************************/

@keyframes bg1 {
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 90%;
    }
    100%{
        transform: translateY(-100vh) rotate(720deg);
        opacity: 0;
        border-radius: 0;
    }
}

@keyframes bg3 {
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
    100%{
        transform: translateY(100vh) rotate(-720deg);
        opacity: 0;
        border-radius: 90%;
    }
}

@keyframes glow {
    from {
      text-shadow: 0 0 20px #bdbdbd;
    }
    to {
      text-shadow: 0 0 30px #dedede, 0 0 10px #fcfcfc;
    }
}

@keyframes loop {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
}

/*mixin****************************************************************************************************************************************/


@mixin contact-modal {
    //contact-modal.php
    .contact-modal {
        display: none;
        align-items: center;
        justify-content: center;
        position: fixed;
        z-index: 2000;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        .modal-veil {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.8); 
            animation: fadeIn 1s ease-in-out forwards;
        }
        .modal-veil.fadeOut {
            animation: fadeOut 1s ease-in-out forwards; // Animation pour fermeture en fade out 
        }
        .modal-content {
            z-index: 3000;
            border: 3px solid white;
            width: 80%;
            max-width:600px;
            min-width: 270px;
            height: auto;
            overflow: hidden;
            background: conic-gradient(from 0deg, #8f94fb, #4e54c8); /* Dégradé conique */

            .contact-form-modal {
                display: flex;
                justify-content: center;
                padding: 4%;
                .wpcf7.js {
                    font-family: 'Zendots';
                    font-size: 1em;
                    line-height: 15px;
                    text-align: center;
                    color: white;
                }
                .wpcf7-form input[type="text"],
                .wpcf7-form input[type="email"],
                .wpcf7-form textarea {
                    box-sizing: border-box;
                    border-radius: 6px;
                    border: 1px solid grey;
                    resize: none;
                    margin: 10px 0 20px 0;
                    position: relative;
                    z-index: 2;
                    font-family: 'Poppins';
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 18px;
                }
                .wpcf7-form input[type="text"],
                .wpcf7-form input[type="email"] {
                    height: 40px;
                    width: 250px;
                }
                .wpcf7-form textarea {
                    height: 260px;
                    width: 250px;
                }
                .wpcf7-form input[type="submit"] {
                    background-color: #6c92ff;
                    font-family: 'Philosopher';
                    font-size: 0.8em;
                    line-height: 17px;
                    color: white;
                    border: none;
                    border-radius: 4px;
                    cursor: pointer;
                    height: 50px;
                    width: 100%;
                    z-index: 3;
                    position: relative;
                    transition: background-color 1s ease;
                    text-align: center;
                }
                .wpcf7-form input[type="submit"]:hover {
                    background-color: #8f94fb;
                    color: white;
                }                 
            } // contact-form-modal
            
        }
        .modal-content.fadeIn {
            animation: fadeIn 1s ease-in-out forwards;
        }
        .modal-content.slideIn {
            animation: slideInRight 1s ease forwards;
        }
        .modal-content.fadeOut {
            animation: fadeOut 1s ease-in-out forwards; 
        }
        .modal-content.slideOut {
            animation: slideInLeft 1s ease forwards;
        }
    }
}


/*site*******************************************************************************************************************************************/
body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    /*header*********************************************************/
    header {
        #vertical-menu {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            display: flex;
            flex-direction: column;
            z-index: 10;
            a {
                font-family: 'ZenDots';
                text-decoration: none;
                color: white;
                text-transform: uppercase;
                writing-mode: vertical-rl; // Écrit le texte en vertical, orienté vers la gauche
                transform: rotate(180deg); // Rotation pour ajuster l'orientation du texte
                padding: 10px; 
                margin: 0.5vh 0;
                border: 2px solid white; 
                background-color: transparent;
                transition: transform 0.3s;
                &:hover {
                    transform: rotate(180deg) scale(1.1); // Agrandit légèrement la taille du texte
                } 
                &.active {
                    transform: rotate(180deg) translateX(-20px); // Déplace légèrement le lien actif vers la gauche pour créer un effet d'onglet
                }
            }
        }
    }
    .section {
        position: relative;
        height: 100vh;
        overflow: hidden;
    }
    /*section 1***************************************************/
    #presentation {
        display: flex;
        justify-content: center;
        align-items: center;
        .background1 {
            position: absolute;
            background: linear-gradient(to bottom, #8f94fb, #4e54c8);  
            width: 100%;
            height:100%;
            z-index: -1;
            .circles {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100vh;
            }
            
            .circles li {
                position: absolute;
                display: block;
                list-style: none;
                width: 20px;
                height: 20px;
                background: rgba(255, 255, 255, 0.2);
                animation: bg1 20s linear infinite;
                bottom: -200px;
                
            }
            
            .circles li:nth-child(1) {
                left: 25%;
                width: 80px;
                height: 80px;
                animation-delay: 0s;
            }
            
            
            .circles li:nth-child(2) {
                left: 10%;
                width: 20px;
                height: 20px;
                animation-delay: 2s;
                animation-duration: 12s;
            }
            
            .circles li:nth-child(3) {
                left: 70%;
                width: 20px;
                height: 20px;
                animation-delay: 4s;
            }
            
            .circles li:nth-child(4) {
                left: 40%;
                width: 60px;
                height: 60px;
                animation-delay: 0s;
                animation-duration: 18s;
            }
            
            .circles li:nth-child(5) {
                left: 65%;
                width: 20px;
                height: 20px;
                animation-delay: 0s;
            }
            
            .circles li:nth-child(6) {
                left: 75%;
                width: 110px;
                height: 110px;
                animation-delay: 3s;
            }
            
            .circles li:nth-child(7) {
                left: 35%;
                width: 150px;
                height: 150px;
                animation-delay: 7s;
            }
            
            .circles li:nth-child(8) {
                left: 50%;
                width: 25px;
                height: 25px;
                animation-delay: 15s;
                animation-duration: 45s;
            }
            
            .circles li:nth-child(9) {
                left: 20%;
                width: 15px;
                height: 15px;
                animation-delay: 2s;
                animation-duration: 35s;
            }
            
            .circles li:nth-child(10) {
                left: 85%;
                width: 150px;
                height: 150px;
                animation-delay: 0s;
                animation-duration: 11s;
            }
        }
        /*bloc text img***************************************************/
        .container {
            z-index: 1;
            display: flex;
            flex-direction: row;
            width: 80%;
            max-width: 80%;
            background: transparent;
            .text-block, .image-block {
                flex: 1;
                min-width: 300px;
                padding: 10px;
            }
            .text-block {

                z-index: 2;
                display: flex;
                flex-direction: column;
                justify-content: center;
                color: white;
                .hello-world {
                    font-family: 'ZenDots';
                    font-size: clamp(2em,4em,7em);
                    margin: 0;
                    font-weight: bold;
                    animation: glow 4s ease-in-out infinite alternate;
                }
                p {
                    font-family: 'Philosopher';
                    font-size: 1.5em;
                    line-height: 1.5;

                }
                .highlight {
                    font-family: 'ZenDots';
                    color: #6c92ff;
                }
                .contact-button {
                    font-family: 'Philosopher';
                    display: inline-block;
                    margin-top: 20px;
                    padding: 10px 20px;
                    font-size: 1em;
                    color: white;
                    backface-visibility: visible;
                    background-color: rgba(108,146,255,0.5);
                    border-radius: 5px;
                    text-align: center;
                    text-decoration: none;
                    cursor: pointer;
                }
            }
            .image-block {

                display: flex;
                align-items: center;
                justify-content: center;
                max-height: 70vh;
                width: 100%;
                img {
                    max-height: 70vh;
                    max-width: 100%;
                    height: auto;
                    width: auto;
                    object-fit: contain;
                }
            
            }
        }


    }
    /*section 2***************************************************/
    #competences { 
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        gap: 2vw;
        .background2 {
            position: absolute;
            background: #4e54c8;  
            width: 100%;
            height:100%;
            z-index: -1;
            .circles2a {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100vh;
            }
            
            .circles2a li {
                position: absolute;
                display: block;
                list-style: none;
                width: 20px;
                height: 20px;
                background: rgba(255, 255, 255, 0.2);
                animation: bg1 20s linear infinite;
                bottom: -200px;
                
            }
            
            .circles2a li:nth-child(1) {
                left: 25%;
                width: 80px;
                height: 80px;
                animation-delay: 0s;
            }
            
            
            .circles2a li:nth-child(2) {
                left: 10%;
                width: 20px;
                height: 20px;
                animation-delay: 2s;
                animation-duration: 12s;
            }
            
            .circles2a li:nth-child(3) {
                left: 70%;
                width: 20px;
                height: 20px;
                animation-delay: 4s;
            }
            
            .circles2a li:nth-child(4) {
                left: 40%;
                width: 60px;
                height: 60px;
                animation-delay: 0s;
                animation-duration: 18s;
            }
            
            .circles2a li:nth-child(5) {
                left: 65%;
                width: 20px;
                height: 20px;
                animation-delay: 0s;
            }

            .circles2b {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100vh;
            }
            
            .circles2b li {
                position: absolute;
                display: block;
                list-style: none;
                width: 20px;
                height: 20px;
                background: rgba(255, 255, 255, 0.2);
                animation: bg3 20s linear infinite;
                top: -200px;
                
            }
            
            .circles2b li:nth-child(1) {
                left: 5%;
                width: 80px;
                height: 80px;
                animation-delay: 0s;
            }
            
            
            .circles2b li:nth-child(2) {
                left: 90%;
                width: 20px;
                height: 20px;
                animation-delay: 2s;
                animation-duration: 12s;
            }
            
            .circles2b li:nth-child(3) {
                left: 75%;
                width: 20px;
                height: 20px;
                animation-delay: 4s;
            }
            
            .circles2b li:nth-child(4) {
                left: 55%;
                width: 60px;
                height: 60px;
                animation-delay: 0s;
                animation-duration: 18s;
            }
            
            .circles2b li:nth-child(5) {
                left: 35%;
                width: 20px;
                height: 20px;
                animation-delay: 0s;
            }
        }

        /*bloc text-skills***************************************************/
        .text-area {
            width: 30vw;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 1.5rem;
            text-align: center;
            
            .logo-container {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 1rem;
        
                img {
                    max-width: 300px; 
                    height: auto;
                }
            }
        
            .text-content {
                display: flex;
                flex-direction: column;
                align-items: center;
        
                .competence-title {
                    font-size: 2em;
                    line-height: 1.5;
                    margin: 0;
                    font-family: 'Zendots';
                    color: white;
                    animation: glow 4s ease-in-out infinite alternate;
                }
        
                .competence-description {
                    font-size: 1.5em;
                    line-height: 1.5;
                    margin: 1rem 0 0;
                    font-family: 'Philosopher';
                    color: white;
                }
        
                .base-text {
                    font-size: 1.5em;
                    line-height: 1.5;
                    margin: 0;
                    font-family: 'Philosopher';
                    color: white;
                }
            }
        }
        /*bloc skills***************************************************/
        .skill-list {
            z-index: 1;
            width: 50vw;
            flex-shrink: 0;
            flex-direction: column;
            gap: 0.5rem 0.5rem;
            position: relative;
            padding: 1.5rem 0;
            overflow:hidden;
            .loop-slider {
                .inner {
                    display: flex;
                    width: max-content;
                    animation: loop linear infinite;
                    z-index: 1; 

                    .skill {
                        z-index: 2;
                        display: flex;
                        align-items: center;
                        gap: 0.4rem 0.2rem;
                        border-radius: 0.4rem;
                        padding: 0.7rem 1rem;
                        margin-right: 0.5rem; // Must use margin-right instead of gap for the loop to be smooth
                        img {
                            z-index: 3; 
                            width: 180px; 
                            height: 180px; 
                            border-radius: 0.4rem;
                            object-fit: cover;
                            transition: transform 0.3s, filter 0.3s; 
                            cursor: pointer;
                            &:hover {
                                transform: rotate(5deg); 
                                filter: brightness(1.5); 
                            }
                        }
                    }  
                }
            }
            /* Specific animation settings for each slider */
            .slider-1 .inner {
                animation-duration: 30s;
                animation-direction: normal;
            }    
            .slider-2 .inner {
            animation-duration: 45s;
            animation-direction: reverse;
            }
            .slider-3 .inner {
            animation-duration: 35s;
            animation-direction: normal;
            }
            .slider-4 .inner {
            animation-duration: 40s;
            animation-direction: reverse;
            }
        }
        .fade {
            pointer-events: none;
            background: linear-gradient(90deg, #4e54c8, transparent 30%, transparent 70%, #4e54c8);
            position: absolute;
            inset: 0;
        }
        
    }
    /*section 3***************************************************/
    #realisations { 
        display: flex;
        align-items: center;
        justify-content: center;
        .background3 {
            background: linear-gradient(to top, #8f94fb, #4e54c8);  
            width: 100%;
            height:100%;
            z-index: -1;
            position: absolute;
            .circles3 {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100vh;
            }
            
            .circles3 li {
                position: absolute;
                display: block;
                list-style: none;
                width: 20px;
                height: 20px;
                background: rgba(255, 255, 255, 0.2);
                animation: bg3 20s linear infinite;
                top: -200px;
                
            }
            
            .circles3 li:nth-child(1) {
                left: 10%;
                width: 80px;
                height: 80px;
                animation-delay: 0s;
            }
            
            
            .circles3 li:nth-child(2) {
                left: 25%;
                width: 20px;
                height: 20px;
                animation-delay: 2s;
                animation-duration: 12s;
            }
            
            .circles3 li:nth-child(3) {
                left: 40%;
                width: 20px;
                height: 20px;
                animation-delay: 4s;
            }
            
            .circles3 li:nth-child(4) {
                left: 70%;
                width: 60px;
                height: 60px;
                animation-delay: 0s;
                animation-duration: 18s;
            }
            
            .circles3 li:nth-child(5) {
                left: 55%;
                width: 20px;
                height: 20px;
                animation-delay: 0s;
            }
            
            .circles3 li:nth-child(6) {
                left: 75%;
                width: 110px;
                height: 110px;
                animation-delay: 3s;
            }
            
            .circles3 li:nth-child(7) {
                left: 30%;
                width: 150px;
                height: 150px;
                animation-delay: 7s;
            }
            
            .circles3 li:nth-child(8) {
                left: 45%;
                width: 25px;
                height: 25px;
                animation-delay: 15s;
                animation-duration: 45s;
            }
            
            .circles3 li:nth-child(9) {
                left: 15%;
                width: 15px;
                height: 15px;
                animation-delay: 2s;
                animation-duration: 35s;
            }
            
            .circles3 li:nth-child(10) {
                left: 90%;
                width: 150px;
                height: 150px;
                animation-delay: 0s;
                animation-duration: 11s;
            }
        }
        /* bloc réalisation******************************************************************/
        .bloc-realisation {
            display: flex;
            height: 80vh;
            overflow: hidden;
            z-index: 2;
            width: 80vw;
            gap: 2vw;
            justify-content: center;
            .left-block {
                display: flex;
                justify-content: center;
                align-items: center;
                
            
                a {
                    text-decoration: none;
                    display: flex;
                    align-content: center;
                    justify-content: center;
                    width: 100%;
                    height: 100%;
                    img {
                        max-width: 100%;
                        height: auto;
                        display: block;
                        object-fit: contain;
                    }
                    &:hover {
                        opacity: 0.8;
                    }
                }
            }
          
            .right-block {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 40vw;
                gap: 2vh;
                .info-block {
                    width: 100%;
                    text-align: center;
                    
                    .realisation-title {
                    font-size: 3em;
                    margin-bottom: 10px;
                    font-family: 'ZenDots';
                    color: white;
                    animation: glow 4s ease-in-out infinite alternate;
                    }
            
                    p {
                    font-size: 1.5em;
                    color: white;
                    margin-bottom: 10px;
                    font-family: 'Philosopher';
                    line-height: 1.5;
                    }
                    p:nth-of-type(1) {
                        color: #6c92ff;
                    }
            
                }
          
                .bloc-nav {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
        
                    .previous-btn, .next-btn {
                        flex: 1;
                        text-align: center;
                        cursor:pointer;
                        &:hover {
                            opacity: 0.8;
                        }
                    }
                }
            }
        }
          
        
    }
    /*footer***************************************************************/
    footer {
        .contact-icons {
            z-index: 10;
            position: fixed;
            bottom: 0;
            right: 1vw;
            display: flex;
            gap: 2vw;
            padding: 10px;
            a {
                .icon {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    transition: transform 1s;
                }
                &:hover {
                    transform: scale(1.5); // Agrandit légèrement la taille du texte
                } 
            }
        }
        @include contact-modal; //mixin
    }
}

