@charset "UTF-8";
/*Local fonts************************************************************************/
@font-face {
  font-family: "ZenDots";
  src: local("ZenDots"), url("../fonts/ZenDots-Regular.woff") format("woff"), url("../fonts/ZenDots-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Philosopher";
  src: local("Philosopher"), url("../fonts/Philosopher-Regular.woff") format("woff"), url("../fonts/Philosopher-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
/*animation****************************************************************************************************************************************/
@keyframes bg1 {
  from {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 90%;
  }
  to {
    transform: translateY(-100dvh) rotate(720deg);
    opacity: 0;
    border-radius: 0;
  }
}
@keyframes bg3 {
  from {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }
  to {
    transform: translateY(100dvh) rotate(-720deg);
    opacity: 0;
    border-radius: 90%;
  }
}
@keyframes glow {
  from {
    text-shadow: 0 0 20px #bdbdbd;
  }
  to {
    text-shadow: 0 0 30px #dedede, 0 0 10px #fcfcfc;
  }
}
@keyframes loop {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
@keyframes slideLeftToRight {
  from {
    transform: translateX(-100%) translateY(-50%);
  }
  to {
    transform: translateX(0) translateY(-50%);
  }
}
@keyframes slideBottomToTop {
  from {
    transform: translateY(100%) translateX(-50%);
  }
  to {
    transform: translateY(0) translateX(-50%);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*site*******************************************************************************************************************************************/
body, html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
}

.section {
  position: relative;
  height: 100dvh;
  overflow: hidden;
}

.hidden {
  visibility: hidden;
}

.tooltip {
  display: none; /* Initialement caché */
  position: absolute;
  background-color: #98ff98;
  color: #4e54c8;
  padding: 5px;
  border-radius: 5px;
  white-space: nowrap;
  z-index: 1000;
  opacity: 0; /* Initialement transparent */
  transition: opacity 0.3s ease-in-out;
  font-family: "Philosopher";
  font-size: 12px;
  text-align: center;
  pointer-events: none; /* Empêche le tooltip de recevoir des événements */
}

/*header*********************************************************/
header #vertical-menu {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  z-index: 10;
  animation: slideLeftToRight 1s ease;
}
header #vertical-menu a {
  font-family: "ZenDots";
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  padding: 10px;
  border-top: 2px solid white;
  border-right: 2px solid white;
  border-left: 2px solid white;
  background-color: transparent;
  margin-top: -1px; /* Compense la bordure pour fusionner avec l'élément précédent */
  transition: background-color 0.4s ease, color 0.4s ease;
}
header #vertical-menu a:hover {
  color: #98ff98;
}
header #vertical-menu a.active {
  color: #4e54c8;
  background-color: white;
}
header #vertical-menu a:first-child {
  margin-top: 0; /* Enlève la marge pour le premier élément */
  border-bottom: 2px solid white;
}
header .vertical-stripe {
  position: absolute;
  top: 0;
  left: 0;
  width: 5%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  transition: left 0.5s ease-in-out;
}
header .stripe1 {
  left: 65%;
}
header .stripe2 {
  left: 65%;
}
header .stripe3 {
  left: 70%;
}

/*responsive*****************************************************************************************************/
@media (orientation: portrait) {
  #vertical-menu {
    font-size: 1vh;
  }
}
@media (orientation: landscape) and (max-height: 950px) {
  #vertical-menu {
    font-size: 1.5vh;
  }
}
/*section 1******************************************************************************************************************************************/
#presentation {
  display: flex;
  justify-content: center;
  align-items: center;
  /*bloc text img***************************************************/
}
#presentation .background1 {
  position: absolute;
  background: linear-gradient(to bottom, #8f94fb, #4e54c8);
  width: 100%;
  height: 100%;
  z-index: -1;
}
#presentation .background1 .circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
}
#presentation .background1 .circles span {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: bg1 20s linear infinite;
  bottom: -200px;
}
#presentation .background1 .circles span:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}
#presentation .background1 .circles span:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}
#presentation .background1 .circles span:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}
#presentation .background1 .circles span:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}
#presentation .background1 .circles span:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}
#presentation .background1 .circles span:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}
#presentation .background1 .circles span:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}
#presentation .background1 .circles span:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}
#presentation .background1 .circles span:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}
#presentation .background1 .circles span:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}
#presentation .container {
  z-index: 1;
  display: flex;
  flex-direction: row;
  width: 80%;
  max-width: 80%;
  background: transparent;
}
#presentation .container .text-block, #presentation .container .image-block {
  flex: 1;
  min-width: 260px;
  padding: 10px;
}
#presentation .container .text-block {
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}
#presentation .container .text-block h1 {
  text-align: center;
  font-family: "ZenDots";
  font-size: 4em;
  margin: 0;
  font-weight: bold;
}
#presentation .container .text-block h1 .title {
  display: inline-block;
  opacity: 0; /* Commencer avec une opacité de 0 pour l'effet fade-in */
  animation: fadeIn 0.5s forwards, glow 4s infinite alternate;
}
#presentation .container .text-block p {
  font-family: "Philosopher";
  font-size: clamp(10px, 1dvw, 25px);
  line-height: 1.5;
  text-align: center;
}
#presentation .container .text-block .highlight {
  font-family: "ZenDots";
  color: #98ff98;
}
#presentation .container .text-block .contact-icons {
  display: flex;
  justify-content: center;
  gap: 10%;
  padding: 5%;
}
#presentation .container .text-block .contact-icons a .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 64px;
}
#presentation .container .text-block .contact-icons a:hover {
  opacity: 0.6;
}
#presentation .container .text-block .contact-button {
  z-index: 5;
  font-family: "Philosopher";
  padding: 1dvw;
  font-size: clamp(8px, 1dvw, 20px);
  color: #4e54c8;
  background-color: #98ff98;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  align-self: center;
  transition: all 1s ease;
}
#presentation .container .text-block .contact-button:hover {
  color: white;
  background-color: #4e54c8;
}
#presentation .container .image-block {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
  animation: fadeIn 2s forwards;
}
#presentation .container .image-block .photo-presentation {
  height: 100%;
  width: auto;
  -o-object-fit: contain;
     object-fit: contain;
  box-shadow: 0 0 20px rgba(152, 255, 152, 0.6);
  border: 2px solid #98ff98;
  position: absolute;
  opacity: 0;
  filter: brightness(1.2);
  transition: opacity 0.5s ease-in-out;
  border-radius: 1%;
}
#presentation .container .image-block .photo-presentation:nth-child(1) {
  opacity: 1;
}
#presentation .container .image-block .photo-presentation:nth-child(2):hover {
  opacity: 1;
  z-index: 1;
}

/*responsive*****************************************************************************************************/
@media (orientation: portrait) {
  #presentation {
    align-items: center;
  }
  #presentation .container {
    flex-direction: column-reverse;
    height: 80%;
    width: 80%;
    align-items: center;
    padding-bottom: 10%;
  }
  #presentation .container .text-block h1 {
    font-size: 2em;
  }
  #presentation .container .text-block p {
    font-size: clamp(10px, 1.5dvh, 25px);
  }
  #presentation .container .text-block .contact-icons a {
    transform: scale(0.8);
  }
  #presentation .container .text-block .contact-button {
    font-size: clamp(10px, 1.5dvh, 25px);
    padding: 0.5dvh;
  }
}
@media (orientation: landscape) and (max-height: 950px) {
  #presentation .container {
    height: 80%;
  }
  #presentation .container .text-block, #presentation .container .image-block {
    height: 80%;
  }
  #presentation .container .text-block h1 {
    font-size: 2em;
  }
  #presentation .container .text-block .contact-icons {
    padding: 0;
  }
  #presentation .container .text-block .contact-icons a {
    transform: scale(0.5);
  }
  #presentation .container .text-block .contact-button {
    padding: 1dvh;
  }
  #presentation .container .image-block {
    height: 80%;
    width: auto;
  }
}
/*section 2************************************************************************************************************************/
#competences {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 2dvw;
  /*bloc text-skills***************************************************/
  /*bloc skills***************************************************/
}
#competences .background2 {
  position: absolute;
  background: #4e54c8;
  width: 100%;
  height: 100%;
  z-index: -1;
}
#competences .background2 .circles2a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
}
#competences .background2 .circles2a span {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: bg1 20s linear infinite;
  bottom: -200px;
}
#competences .background2 .circles2a span:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}
#competences .background2 .circles2a span:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}
#competences .background2 .circles2a span:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}
#competences .background2 .circles2a span:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}
#competences .background2 .circles2a span:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}
#competences .background2 .circles2b {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
}
#competences .background2 .circles2b span {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: bg3 20s linear infinite;
  top: -200px;
}
#competences .background2 .circles2b span:nth-child(1) {
  left: 5%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}
#competences .background2 .circles2b span:nth-child(2) {
  left: 90%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}
#competences .background2 .circles2b span:nth-child(3) {
  left: 75%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}
#competences .background2 .circles2b span:nth-child(4) {
  left: 55%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}
#competences .background2 .circles2b span:nth-child(5) {
  left: 35%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}
#competences .text-area {
  width: 30dvw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  text-align: center;
}
#competences .text-area .logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}
#competences .text-area .logo-container img {
  max-width: 250px;
  height: auto;
  animation: fadeIn 1s ease-in-out forwards;
}
#competences .text-area .text-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#competences .text-area .text-content .competence-title {
  font-size: 1.5em;
  line-height: 1.5;
  margin: 0;
  font-family: "Zendots";
  color: white;
  animation: glow 4s ease-in-out infinite alternate;
}
#competences .text-area .text-content .competence-description {
  font-size: 1.5em;
  line-height: 1.5;
  margin: 1rem 0 0;
  font-family: "Philosopher";
  color: white;
}
#competences .text-area .text-content .base-text {
  position: relative;
}
#competences .text-area .text-content .base-text .photo-competences {
  height: 15dvh;
  width: auto;
  border: 2px solid #98ff98;
  border-radius: 1%;
  transform: scaleX(-1);
  filter: brightness(1.2);
  transition: transform 0.3s;
}
#competences .text-area .text-content .base-text .photo-competences:hover {
  transform: rotate(-5deg) scaleX(-1);
}
#competences .text-area .text-content .base-text h2 {
  font-size: 2em;
  line-height: 1.5;
  margin: 0;
  padding: 3%;
  font-family: "Zendots";
  color: white;
  animation: glow 4s ease-in-out infinite alternate;
}
#competences .text-area .text-content .base-text p {
  font-size: 1.5em;
  line-height: 1.5;
  margin: 0;
  font-family: "Philosopher";
  color: white;
}
#competences .skill-list {
  z-index: 1;
  width: 50dvw;
  flex-shrink: 0;
  flex-direction: column;
  gap: 0.5rem 0.5rem;
  position: relative;
  padding: 1.5rem 0;
  overflow: hidden;
}
#competences .skill-list .loop-slider .inner {
  display: flex;
  width: -moz-max-content;
  width: max-content;
  animation: loop linear infinite;
  z-index: 1;
}
#competences .skill-list .loop-slider .inner .skill {
  z-index: 2;
  display: flex;
  align-items: center;
  gap: 0.4rem 0.2rem;
  border-radius: 0.4rem;
  padding: 2.2rem 2.2rem;
  margin-right: 0.5rem;
}
#competences .skill-list .loop-slider .inner .skill img {
  z-index: 3;
  width: 150px;
  height: 150px;
  border-radius: 0.4rem;
  opacity: 0.6;
  -o-object-fit: cover;
     object-fit: cover;
  filter: grayscale(100%);
  transition: transform 0.3s, filter 0.3s, opacity 0.3s;
  cursor: pointer;
}
#competences .skill-list .loop-slider .inner .skill img:hover {
  filter: grayscale(0%);
  transform: rotate(5deg);
  opacity: 1;
}
#competences .skill-list .slider-1 .inner {
  animation-duration: 30s;
  animation-direction: normal;
}
#competences .skill-list .slider-2 .inner {
  animation-duration: 45s;
  animation-direction: reverse;
}
#competences .skill-list .slider-3 .inner {
  animation-duration: 35s;
  animation-direction: normal;
}
#competences .skill-list .slider-4 .inner {
  animation-duration: 40s;
  animation-direction: reverse;
}
#competences .fade {
  pointer-events: none;
  background: linear-gradient(90deg, #4e54c8, transparent 30%, transparent 70%, #4e54c8);
  position: absolute;
  inset: 0;
}

/*responsive*****************************************************************************************************/
@media (orientation: portrait) {
  #competences {
    flex-direction: column;
  }
  #competences .text-area {
    width: 80dvw;
    padding: 0;
  }
  #competences .text-area .logo-container img {
    height: 10dvh;
  }
  #competences .text-area .text-content .competence-title {
    font-size: 2dvh;
  }
  #competences .text-area .text-content .competence-description {
    font-size: clamp(10px, 1.5dvh, 25px);
  }
  #competences .text-area .text-content .base-text h2 {
    font-size: 2dvh;
  }
  #competences .text-area .text-content .base-text p {
    font-size: clamp(10px, 1.5dvh, 25px);
  }
  #competences .skill-list {
    width: 80%;
  }
  #competences .skill-list .loop-slider .inner .skill {
    padding: 1.5dvw 1.5dvh;
  }
  #competences .skill-list .loop-slider .inner .skill img {
    width: 70px;
    height: 70px;
  }
}
@media (orientation: landscape) and (max-height: 950px) {
  #competences .text-area {
    width: 30%;
  }
  #competences .text-area .logo-container img {
    height: 10dvw;
  }
  #competences .text-area .text-content .competence-title {
    font-size: 2dvw;
  }
  #competences .text-area .text-content .competence-description {
    font-size: clamp(10px, 1.5dvw, 25px);
  }
  #competences .text-area .text-content .base-text h2 {
    font-size: 2dvw;
  }
  #competences .text-area .text-content .base-text p {
    font-size: clamp(10px, 1.5dvw, 25px);
  }
  #competences .skill-list {
    width: 50%;
  }
  #competences .skill-list .loop-slider .inner .skill {
    padding: 1.5dvw 1.5dvh;
  }
  #competences .skill-list .loop-slider .inner .skill img {
    width: 70px;
    height: 70px;
  }
}
/*section 3*******************************************************************************************************************************/
#realisations {
  display: flex;
  align-items: center;
  justify-content: center;
  /* bloc réalisation******************************************************************/
}
#realisations .background3 {
  background: linear-gradient(to top, #8f94fb, #4e54c8);
  width: 100%;
  height: 100%;
  z-index: -1;
  position: absolute;
}
#realisations .background3 .circles3a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
}
#realisations .background3 .circles3a span {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: bg1 20s linear infinite;
  bottom: -200px;
}
#realisations .background3 .circles3a span:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}
#realisations .background3 .circles3a span:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}
#realisations .background3 .circles3a span:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}
#realisations .background3 .circles3a span:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}
#realisations .background3 .circles3a span:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}
#realisations .background3 .circles3b {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
}
#realisations .background3 .circles3b span {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: bg3 20s linear infinite;
  top: -200px;
}
#realisations .background3 .circles3b span:nth-child(1) {
  left: 5%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}
#realisations .background3 .circles3b span:nth-child(2) {
  left: 90%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}
#realisations .background3 .circles3b span:nth-child(3) {
  left: 75%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}
#realisations .background3 .circles3b span:nth-child(4) {
  left: 55%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}
#realisations .background3 .circles3b span:nth-child(5) {
  left: 35%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}
#realisations .bloc-realisation {
  display: flex;
  flex-direction: column;
  height: 80dvh;
  overflow: hidden;
  z-index: 2;
  width: 80dvw;
  gap: 2dvw;
}
#realisations .bloc-realisation h2 {
  font-size: 2em;
  font-family: "Zendots";
  color: white;
  animation: glow 4s ease-in-out infinite alternate;
  text-align: center;
}
#realisations .bloc-realisation .blocks {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 5%;
}
#realisations .bloc-realisation .blocks .left-block {
  display: flex;
  justify-content: center;
  align-items: center;
}
#realisations .bloc-realisation .blocks .left-block img, #realisations .bloc-realisation .blocks .left-block video {
  max-width: 100%;
  height: auto;
  display: block;
  -o-object-fit: contain;
     object-fit: contain;
}
#realisations .bloc-realisation .blocks .left-block video {
  max-height: 100%;
  animation: fadeIn 2s ease;
  border: 2px solid #98ff98;
  /* Masquer la barre de contrôle */
}
#realisations .bloc-realisation .blocks .left-block video::-webkit-media-controls {
  display: none !important;
}
#realisations .bloc-realisation .blocks .left-block video::-moz-media-controls {
  display: none !important;
}
#realisations .bloc-realisation .blocks .left-block video::-ms-media-controls {
  display: none !important;
}
#realisations .bloc-realisation .blocks .right-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40dvw;
  gap: 2dvh;
}
#realisations .bloc-realisation .blocks .right-block .info-block {
  width: 100%;
  text-align: center;
}
#realisations .bloc-realisation .blocks .right-block .info-block .realisation-title {
  font-size: 1.5em;
  margin-bottom: 10px;
  font-family: "ZenDots";
  color: white;
  animation: glow 4s ease-in-out infinite alternate;
}
#realisations .bloc-realisation .blocks .right-block .info-block p {
  font-size: 1.5em;
  color: white;
  margin-bottom: 10px;
  font-family: "Philosopher";
  line-height: 1.5;
}
#realisations .bloc-realisation .blocks .right-block .info-block p:nth-of-type(1) {
  color: #98ff98;
  font-weight: bold;
}
#realisations .bloc-realisation .blocks .right-block .info-block p:nth-of-type(3) {
  font-size: 1em;
  color: #98ff98;
}
#realisations .bloc-realisation .blocks .right-block .info-block .link-bloc {
  gap: 2dvw;
  justify-content: center;
  display: flex;
}
#realisations .bloc-realisation .blocks .right-block .info-block .link-bloc a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
#realisations .bloc-realisation .blocks .right-block .info-block .link-bloc a .icon2 {
  width: 64px;
  height: auto;
}
#realisations .bloc-realisation .blocks .right-block .info-block .link-bloc a .icon2:hover {
  opacity: 0.6;
}
#realisations .bloc-realisation .blocks .right-block .info-block .link-bloc a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
#realisations .bloc-realisation .blocks .right-block .info-block .link-bloc a .icon3 {
  width: 64px;
  height: auto;
}
#realisations .bloc-realisation .blocks .right-block .info-block .link-bloc a .icon3:hover {
  opacity: 0.6;
}
#realisations .bloc-realisation .blocks .right-block .bloc-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#realisations .bloc-realisation .blocks .right-block .bloc-nav .previous-btn, #realisations .bloc-realisation .blocks .right-block .bloc-nav .next-btn {
  flex: 1;
  text-align: center;
  cursor: pointer;
  width: 64px;
  height: auto;
}
#realisations .bloc-realisation .blocks .right-block .bloc-nav .previous-btn:hover, #realisations .bloc-realisation .blocks .right-block .bloc-nav .next-btn:hover {
  opacity: 0.8;
}

/*responsive*****************************************************************************************************/
@media (orientation: portrait) {
  #realisations {
    align-items: baseline;
  }
  #realisations .bloc-realisation {
    overflow: visible;
    gap: 1dvh;
    height: 90dvh;
  }
  #realisations .bloc-realisation h2 {
    font-size: 2dvh;
    padding-top: 2dvh;
  }
  #realisations .bloc-realisation .blocks {
    flex-direction: column;
    gap: 1dvh;
  }
  #realisations .bloc-realisation .blocks .left-block {
    height: 35%;
  }
  #realisations .bloc-realisation .blocks .right-block {
    width: 90%;
    gap: 0;
    height: 50%;
  }
  #realisations .bloc-realisation .blocks .right-block .info-block .realisation-title {
    font-size: 2dvh;
    margin-bottom: 0;
  }
  #realisations .bloc-realisation .blocks .right-block .info-block p {
    font-size: clamp(10px, 1.5dvh, 25px);
    margin-bottom: 0;
  }
  #realisations .bloc-realisation .blocks .right-block .info-block p:nth-of-type(3) {
    font-size: clamp(8px, 1dvh, 20px);
  }
  #realisations .bloc-realisation .blocks .right-block .info-block a .icon2 {
    transform: scale(0.7);
  }
  #realisations .bloc-realisation .blocks .right-block .info-block a .icon3 {
    transform: scale(0.7);
  }
  #realisations .bloc-realisation .blocks .right-block .bloc-nav .previous-btn, #realisations .bloc-realisation .blocks .right-block .bloc-nav .next-btn {
    transform: scale(0.7);
  }
}
@media (orientation: landscape) and (max-height: 950px) {
  #realisations .bloc-realisation {
    overflow: visible;
  }
  #realisations .bloc-realisation h2 {
    font-size: 2dvw;
  }
  #realisations .bloc-realisation .blocks {
    gap: 5%;
  }
  #realisations .bloc-realisation .blocks .left-block {
    width: 40dvw;
  }
  #realisations .bloc-realisation .blocks .left-block img, #realisations .bloc-realisation .blocks .left-block video {
    width: 40dvw;
  }
  #realisations .bloc-realisation .blocks .right-block {
    width: 40dvw;
    gap: 0;
  }
  #realisations .bloc-realisation .blocks .right-block .info-block {
    width: 40dvw;
  }
  #realisations .bloc-realisation .blocks .right-block .info-block .realisation-title {
    font-size: clamp(10px, 1.5dvw, 25px);
    margin: 0;
  }
  #realisations .bloc-realisation .blocks .right-block .info-block p {
    font-size: clamp(10px, 1dvw, 25px);
    margin: 0;
  }
  #realisations .bloc-realisation .blocks .right-block .info-block p:nth-of-type(3) {
    font-size: clamp(8px, 1dvw, 20px);
  }
  #realisations .bloc-realisation .blocks .right-block .info-block a {
    height: 40px;
  }
  #realisations .bloc-realisation .blocks .right-block .info-block a .icon2 {
    transform: scale(0.7);
  }
  #realisations .bloc-realisation .blocks .right-block .info-block a {
    height: 40px;
  }
  #realisations .bloc-realisation .blocks .right-block .info-block a .icon3 {
    transform: scale(0.7);
  }
  #realisations .bloc-realisation .blocks .right-block .bloc-nav .previous-btn, #realisations .bloc-realisation .blocks .right-block .bloc-nav .next-btn {
    transform: scale(0.7);
  }
}
/*section 4*******************************************************************************************************************************/
#contact {
  display: flex;
  align-items: center;
  justify-content: center;
  /*formulaire******************************************************************/
}
#contact .background4 {
  background: linear-gradient(to top, #4e54c8, #8f94fb);
  width: 100%;
  height: 100%;
  z-index: -1;
  position: absolute;
}
#contact .background4 .circles4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
}
#contact .background4 .circles4 span {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: bg3 20s linear infinite;
  top: -200px;
}
#contact .background4 .circles4 span:nth-child(1) {
  left: 10%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}
#contact .background4 .circles4 span:nth-child(2) {
  left: 25%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}
#contact .background4 .circles4 span:nth-child(3) {
  left: 40%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}
#contact .background4 .circles4 span:nth-child(4) {
  left: 70%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}
#contact .background4 .circles4 span:nth-child(5) {
  left: 55%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}
#contact .background4 .circles4 span:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}
#contact .background4 .circles4 span:nth-child(7) {
  left: 30%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}
#contact .background4 .circles4 span:nth-child(8) {
  left: 45%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}
#contact .background4 .circles4 span:nth-child(9) {
  left: 15%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}
#contact .background4 .circles4 span:nth-child(10) {
  left: 90%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}
#contact .contact-bloc {
  display: flex;
  flex-direction: column;
  width: 80%;
}
#contact .contact-bloc h2 {
  font-size: 2em;
  font-family: "Zendots";
  color: white;
  animation: glow 4s ease-in-out infinite alternate;
  text-align: center;
}
#contact .contact-bloc .contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  flex-wrap: wrap;
}
#contact .contact-bloc .contact-form .wpcf7-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
#contact .contact-bloc .contact-form .wpcf7-form .form-bloc {
  display: flex;
  width: 100%;
  gap: 10dvw;
  padding: 2dvh 10dvw;
}
#contact .contact-bloc .contact-form .wpcf7-form .form-bloc .left-block,
#contact .contact-bloc .contact-form .wpcf7-form .form-bloc .right-block {
  box-sizing: border-box;
  width: 48%;
  flex-direction: column;
}
#contact .contact-bloc .contact-form .wpcf7-form .form-bloc .left-block {
  display: flex;
  align-self: center;
}
#contact .contact-bloc .contact-form .wpcf7-form .form-bloc .right-block {
  display: flex;
  align-self: center;
}
#contact .contact-bloc .contact-form .wpcf7-form .form-bloc label {
  color: white;
  font-family: "Zendots";
}
#contact .contact-bloc .contact-form .wpcf7-form .form-bloc input[type=text],
#contact .contact-bloc .contact-form .wpcf7-form .form-bloc input[type=email],
#contact .contact-bloc .contact-form .wpcf7-form .form-bloc textarea {
  box-sizing: border-box;
  border-radius: 6px;
  border: 1px solid white;
  color: white;
  resize: none;
  margin: 10px 0;
  font-family: "Philosopher";
  font-size: 2rem;
  line-height: 1.5rem;
  background: #4e54c8;
  transition: border-color 0.3s ease;
  padding: 5%;
}
#contact .contact-bloc .contact-form .wpcf7-form .form-bloc input[type=text]:focus,
#contact .contact-bloc .contact-form .wpcf7-form .form-bloc input[type=email]:focus,
#contact .contact-bloc .contact-form .wpcf7-form .form-bloc textarea:focus {
  border-color: white;
  outline: none;
}
#contact .contact-bloc .contact-form .wpcf7-form .form-bloc input[type=text],
#contact .contact-bloc .contact-form .wpcf7-form .form-bloc input[type=email] {
  height: 5rem;
  width: 100%;
}
#contact .contact-bloc .contact-form .wpcf7-form .form-bloc textarea {
  height: 17rem;
  width: 100%;
}
#contact .contact-bloc .contact-form .wpcf7-form input[type=submit] {
  color: #4e54c8;
  background-color: #98ff98;
  font-family: "Zendots";
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  height: 3rem;
  transition: background-color 1s ease, color 1s ease;
  text-align: center;
  width: 100%;
  margin-top: 20px;
}
#contact .contact-bloc .contact-form .wpcf7-form input[type=submit]:hover {
  color: white;
  background-color: #4e54c8;
}
#contact .contact-bloc .contact-form .wpcf7-form .wpcf7-not-valid-tip {
  color: #98ff98;
  position: absolute;
}
#contact .contact-bloc .contact-form .wpcf7-form .wpcf7-response-output {
  border: none;
  display: none;
}

/*responsive*****************************************************************************************************/
@media (orientation: portrait) {
  #contact .contact-bloc {
    width: 80dvw;
  }
  #contact .contact-bloc h2 {
    font-size: 2dvh;
  }
  #contact .contact-bloc .contact-form .wpcf7-form .form-bloc {
    flex-direction: column;
    height: 80%;
    width: 90%;
    gap: 1dvh;
    padding: 2dvw 10dvh;
  }
  #contact .contact-bloc .contact-form .wpcf7-form .form-bloc .left-block,
  #contact .contact-bloc .contact-form .wpcf7-form .form-bloc .right-block {
    width: 100%;
  }
  #contact .contact-bloc .contact-form .wpcf7-form .form-bloc label {
    font-size: clamp(10px, 1.2dvw, 25px);
  }
  #contact .contact-bloc .contact-form .wpcf7-form .form-bloc input[type=text],
  #contact .contact-bloc .contact-form .wpcf7-form .form-bloc input[type=email],
  #contact .contact-bloc .contact-form .wpcf7-form .form-bloc textarea {
    font-size: clamp(10px, 2dvh, 25px);
    margin: 0;
  }
  #contact .contact-bloc .contact-form .wpcf7-form .form-bloc input[type=text],
  #contact .contact-bloc .contact-form .wpcf7-form .form-bloc input[type=email] {
    height: 5dvh;
  }
  #contact .contact-bloc .contact-form .wpcf7-form .form-bloc textarea {
    height: 30dvh;
  }
  #contact .contact-bloc .contact-form .wpcf7-form input[type=submit] {
    font-size: clamp(10px, 1dvh, 25px);
    margin-top: 10px;
  }
}
@media (orientation: landscape) and (max-height: 950px) {
  #contact .contact-bloc {
    width: 80dvw;
  }
  #contact .contact-bloc h2 {
    font-size: 2dvw;
  }
  #contact .contact-bloc .contact-form .wpcf7-form .form-bloc {
    flex-direction: row;
    height: 80%;
    width: 80%;
    gap: 10dvh;
  }
  #contact .contact-bloc .contact-form .wpcf7-form .form-bloc .left-block,
  #contact .contact-bloc .contact-form .wpcf7-form .form-bloc .right-block {
    width: 50%;
  }
  #contact .contact-bloc .contact-form .wpcf7-form .form-bloc label {
    font-size: clamp(10px, 1.2dvw, 25px);
  }
  #contact .contact-bloc .contact-form .wpcf7-form .form-bloc input[type=text],
  #contact .contact-bloc .contact-form .wpcf7-form .form-bloc input[type=email],
  #contact .contact-bloc .contact-form .wpcf7-form .form-bloc textarea {
    font-size: clamp(10px, 2dvw, 25px);
    margin: 0;
  }
  #contact .contact-bloc .contact-form .wpcf7-form .form-bloc input[type=text],
  #contact .contact-bloc .contact-form .wpcf7-form .form-bloc input[type=email] {
    height: 5dvw;
  }
  #contact .contact-bloc .contact-form .wpcf7-form .form-bloc textarea {
    height: 15dvw;
  }
  #contact .contact-bloc .contact-form .wpcf7-form input[type=submit] {
    font-size: clamp(10px, 0.8dvw, 25px);
    margin-top: 10px;
  }
}
/*footer**********************************************************************************************************************************/
footer {
  border-top: 1px solid #98ff98;
  position: absolute;
  z-index: 1000;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  animation: slideBottomToTop 1s ease;
  padding: 5px 5% 0 5%;
  justify-content: center;
  gap: 20px;
}
footer p {
  font-family: "Zendots";
  white-space: nowrap;
  font-size: 1em;
  color: white;
  text-decoration: none;
  text-align: center;
  align-self: center;
}
footer a {
  font-family: "Philosopher";
  white-space: nowrap;
  font-size: 1em;
  color: white;
  text-decoration: none;
  text-align: center;
  align-self: center;
  transition: color 0.3s ease-in-out;
}
footer a:hover {
  color: #98ff98;
}

/*responsive*****************************************************************************************************/
@media (orientation: portrait) {
  footer a, footer p {
    font-size: 1.5vw;
  }
}
@media (orientation: landscape) and (max-height: 950px) {
  footer a, footer p {
    font-size: 1.5vh;
  }
}